html{
    background: linear-gradient(180deg, #58E0B5, #0D2342);
    background-size: 100%;
    height: 100vh;

    font-family: 'Nunito';
    color: white;
    text-align: center;
}

div.conteiner{
    display: grid;
    align-items: center;
    height: 99vh;
}

div.content{
    height: 400px;
    width: 300px;
    margin: auto;
    border: 1px solid #81c5c193;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 20px;
}

h1{
    font-weight: bolder;
    font-size: 35px;
    padding: 0px;
    margin: 0;
    border: 0;
}

div.botao > button{
    background-color: #6fdcfd;
    color: white;

    font-size: 17px;
    font-weight: bold;

    height: 50px;
    width: 175px;

    padding: 10px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 20px;
}

div.botao > button:hover{
    background-color: #16c9ff;
    color: white;
}

.caixatexto{
    background-color: rgba(255, 255, 255, 0.445);
    color: black;

    height: 30px;
    width: 250px;

    padding: 10px;
    margin: 10px;
    border: 0;
    border-radius: 25px;
    outline: none;
}

a{
    color: #6fdcfd;
}

a:hover{
    color: #16c9ff;
}